body{
    background-color: #fafafa;
}
.center{
    text-align: center;
}
/*blog*/
.top-bar{
    height: 320px;
    text-align: center;
}
.avatar{
    margin: 30px auto 20px;
    padding: 4px;
    width: 110px;
    height: 110px;
    background: #fff;
    background: rgba(255,255,255,.8);
    position: relative;
    border-radius: 100%;
}
.avatar img{
    width: 102px;
    height: 102px;
}
.blog-name{
    display: block;
    margin: 0 auto 10px;
    width: 500px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: #333;
    z-index: 3;
}
.blog-name i{
    margin-left: 5px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.blog-introduce{
    display: block;
    margin: 0 auto 10px;
    width: 500px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    /*font-size: 24px;*/
    color: #333;
    z-index: 2;
}
.btn-opr{
    font-size: 16px;
}
/*main*/
.blog-main{
    background-color: #fafafa;
}
.main-nav{
    height: 50px;
    background-color: #fff;
}
.main-nav ul{
    float: left;
}
.main-nav ul li{
    float: left;
}

.main-nav ul li.active{
    background-color: #6bc30d;
    color: #fff;
}
.main-nav ul li.active a{
    color: #fff;
}
.main-nav ul li a{
    float: left;
    padding: 15px 25px;
    font-size: 16px;
    color: #777;
}
.main-nav ul li a:hover{
    color:#333!important;
    background:#fafafa;
}
.main-nav ul li.active a:hover{
    background-color: #6bc30d;
    color: #fff!important;
}
.main-sidebar{
    background-color: #fff;
}
.blog-total{
    width: 250px;
    padding: 20px 0px 10px;
}
.blog-scan{
    width: 33.33333%;
    float: left;
    padding: 10px 4px;
}
.blog-scan span{
    margin-bottom: 2px;
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    color: #565656;
}
.blog-scan span:hover{
    color: #3498db;
}
.blog-scan p{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 4px;
    color: #8b8b8b;
}