<style>
    .container{
        width: 1700px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="top-bar">
                <div class="avatar center">
                    <img src="img/avatar.jpg" class="img-circle">
                </div>
                <div class="blog-name">
                    腹有诗书气自华<i class="fa fa-qrcode" data-original-title="" title=""></i>
                </div>
                <div class="blog-introduce">

                </div>
                <div class="row bar-opr">
                    <div class="col-md-4">
                        <a href="" class="btn btn-warning btn-opr"><i class="fa fa-check"> 加入收藏</i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="btn btn-primary btn-opr"><i class="fa fa-weixin"> 发送私信</i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="btn btn-info btn-opr"><i class="fa fa-envelope"> 发送留言</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<div class="container blog-main">
    <div class="row">
        <div class="main-nav">
            <ul>
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">笔记</a></li>
                <li><a href="#">后院</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 sidebar">
            <div class="blog-total">
                <div class="blog-scan">
                    <span>0</span>
                    <p>访问量</p>
                </div>
                <div class="blog-scan">
                    <span>0</span>
                    <p>访问量</p>
                </div>
                <div class="blog-scan">
                    <span>0</span>
                    <p>访问量</p>
                </div>
            </div>
        </div>
        <div class="col-md-10">

        </div>
    </div>
</div>