<div class="main-content">
    <h4 class="title-bar">最近动态</h4>
    <div class="note-info">
        <h2 class="note-head"><a href="#/blogIndex/article">angularjs的test</a> </h2>
        <div class="note-body">
            <a class="media-left" href="">
                <img src="img/content.png" alt="">
            </a>
            <p>jQuery基础jQuery类库定义了一个全局函数jQuery()——由于使用频繁给他定义了一个别名</p>
        </div>
        <div class="note-bottom">
            <div class="note-group left">
                <span class="pub-time" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-clock-o"></i> 发表于 2017-05-26 10:32:14</a></span>
            </div>
            <div class="note-group left">
                <span class="pub-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-inbox"></i> 原创</a></span>
            </div>
            <div class="note-group left">
                <span class="note-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-hdd-o"></i> JavaScript</a></span>
            </div>
            <div class="note-group left">
                <span class="blog-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-folder-open"></i> 技术笔记</a></span>
            </div>
            <div class="note-group right">
                <span class="blog-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href="#/blogIndex/blogEdit"><i class="fa fa-pencil-square-o"></i> 编辑</a></span>
            </div>
            <div class="note-group right">
                <span class="blog-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-trash-o"></i> 删除</a></span>
            </div>
            <div class="note-group right">
                <span class="blog-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-comment-o"></i> 评论（0）</a></span>
            </div>
            <div class="note-group right">
                <span class="blog-type" tooltip-placement="top" uib-tooltip="2017-05-26 10:32:14"><a href=""><i class="fa fa-eye"></i> 阅读（1321）</a></span>
            </div>
        </div>
    </div>
</div>