<!--<style>-->
    <!--.container{-->
        <!--width: 1700px;-->
    <!--}-->
<!--</style>-->
<div class="container" style="width: 100%">
    <div class="row blog-banner">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="top-bar">
                <div class="avatar center">
                    <img src="img/avatar.jpg" class="img-circle">
                </div>
                <div class="blog-name">
                    腹有诗书气自华<i class="fa fa-qrcode" data-original-title="" title=""></i>
                </div>
                <div class="blog-introduce">

                </div>
                <div class="row bar-opr">
                    <div class="col-md-4">
                        <a href="" class="btn btn-warning btn-opr"><i class="fa fa-check"> 加入收藏</i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="btn btn-primary btn-opr"><i class="fa fa-weixin"> 发送私信</i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="btn btn-info btn-opr"><i class="fa fa-envelope"> 发送留言</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<div class="container blog-main" style="width: 1700px;">
    <div class="row">
        <div class="main-nav">
            <ul>
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">笔记</a></li>
                <li><a href="#">后院</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 main-sidebar center">
            <div class="blog-total">
                <div class="blog-scan">
                    <span>0</span>
                    <p>访问量</p>
                </div>
                <div class="blog-scan">
                    <span>0</span>
                    <p>文章数</p>
                </div>
                <div class="blog-scan">
                    <span>0</span>
                    <p>评论量</p>
                </div>
            </div>
            <div class="blog-list">
                <h4 class="title-bar">文章分类</h4>
                <ul class="blog-class">
                    <li class="center"><a href="">学习笔记<span class="small">（13）</span></a></li>
                    <li class="center"><a href="">学习笔记<span class="small">（13）</span></a></li>
                    <li class="center"><a href="">学习笔记<span class="small">（13）</span></a></li>
                    <li class="center"><a href="">学习笔记<span class="small">（13）</span></a></li>
                    <li class="center"><a href="">学习笔记<span class="small">（13）</span></a></li>
                </ul>
            </div>
            <div class="blog-list">
                <h4 class="title-bar">热门标签</h4>
                <ul class="blog-tag">
                    <li><a href="">学习笔记</a></li>
                    <li><a href="">学习笔记</a></li>
                    <li><a href="">学习笔记</a></li>
                    <li><a href="">学习笔记</a></li>
                    <li><a href="">学习笔记</a></li>
                </ul>
            </div>
            <div class="blog-list">
                <h4 class="title-bar">文章存档</h4>
                <ul class="blog-class">
                    <li><a href="">2017年9月<span class="small">（13）</span></a></li>
                    <li><a href="">2017年9月<span class="small">（13）</span></a></li>
                    <li><a href="">2017年9月<span class="small">（13）</span></a></li>
                    <li><a href="">2017年9月<span class="small">（13）</span></a></li>
                    <li><a href="">2017年9月<span class="small">（13）</span></a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-10 main-main" ui-view="blog">

        </div>
    </div>
</div>
<footer>
    <p>Copyright © <a href="./">W3Cfuns.com</a> All Rights Reserved. <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">沪ICP16034444号-1</a></p>
</footer>
